@model BookApplication.NewFolder2.BookModel
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
      <link rel="stylesheet" href="~/css/card.css">
</head>
<body>
    
    <div class="container">
       <div><h1>Welcome to Book Details</h1></div>
        <div class="card">
                <h1>@Model.Title</h1>
                <h1>@Model.Author</h1>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Minus accusamus, quisquam ipsa sed aperiam impedit rem nihil quo aliquid reiciendis mollitia ipsum illo soluta facere!</p>
        
        </div>
    </div>
</body>
</html>