
<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
    <link rel="stylesheet" href="~/css/style.css">
</head>
<body>
   <div class="container">
       <div class="navbar">
           <div><a href="book/getallbooks">Get Books</a></div>
           <div><a href="/home/AboutUs">AboutUs</a></div>
       </div>
       <div><h1>Welcome to @ViewBag.Title</h1></div>
        <div class="hero">
            <div class="card">
                <div><h1>Title</h1></div>
                <h2>Author</h2>
            </div>
            <div class="card">
                <div><h1>Title</h1></div>
                <h2>Author</h2>
            </div>
            <div class="card">
                <div><h1>Title</h1></div>
                <h2>Author</h2>
            </div>
            <div class="card">
                <div><h1>Title</h1></div>
                <h2>Author</h2>
            </div>
        </div>
        <div class="footer"></div>
   </div>
 
</body>
</html>